body {
  background: linear-gradient(rgb(0, 28, 141), rgb(31, 31, 205));
}
h1 {
    display: block;
    font-size: 5em;
    margin-top: 2em;
    margin-bottom: 1em;
    font-weight: bold;
    font-family: Arial, sans-serif;
    text-align: center;
    color: #2781da
}
h2 {
    display: block;
    font-size: 3em;
    margin-top: 0.25em;
    margin-bottom: 0.25em;
    font-family: Georgia, serif;
    text-align: center;
    color: #2781da
}

a {
    color: #b8dbff; 
    font-size: 3.5em;
    text-decoration: none;
    cursor: pointer;
    padding: 0.5em;
    text-align: center;
    font-weight: bold;
    transition: 2s;
}

a:hover {
    color: #00FFFF; 
}
